.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2.8rem 6rem;
    width: 100%;
}

.footer__text {
    color: rgba(182, 182, 182, 0.8);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}
