.tasks {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tasks__task-content {
    color: #fff;
    max-width: 90%;
    width: 59rem;
}

.tasks__active-task {
    align-items: center;
    border-bottom: 1px solid #144480;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    margin-bottom: 4rem;
    padding: 4rem 0;
}

.tasks__active-task-label {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.tasks__active-task-description {
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-header__heading {
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.dropdown {
    position: relative;
}

.dropdown__ul {
    display: none;
    min-width: 24rem;
    padding: 1.6rem;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
}

.dropdown__ul:hover,
.dropdown__button-more:hover ~ .dropdown__ul {
    background: var(--fundo-modal-2, #1b293b);
    border: 0.2rem solid var(--azul-royal, #144480);
    border-radius: 0.8rem;
    display: block;
    text-align: right;
}

.dropdown__li {
    margin: 1.6rem 0;
}

.dropdown__button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 0.8rem;
    justify-content: flex-start;
    outline: inherit;
    width: 100%;
}

.form-add-task--hidden {
    display: none;
}

.form-add-task__textarea,
.form-add-task__textarea::placeholder {
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    white-space: nowrap;
}

.app_button-edit,
.dropdown__button-more {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    outline: inherit;
}

.tasks__task-list {
    margin-bottom: 4rem;
    margin-top: 2.4rem;
}

.tasks__task-list-item {
    align-items: center;
    background: var(--fundo-card);
    border-radius: 0.8rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    padding: 1.6rem;
}

.tasks__task-list-item-description {
    color: var(--azul-profundo);
    flex-grow: 1;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.tasks__task-list-item-complete.tasks__task-list-item {
    background: var(--fundo-card-concluido);
    cursor: inherit;
}

.tasks__task-list-item-active.tasks__task-list-item {
    border: 2px solid #fff;
}

.tasks__task-list-item-complete .tasks__task-icon-status circle {
    fill: #00f4bf;
}

.form-add-task {
    background: var(--fundo-card);
    border-radius: 0.8rem;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 1.6rem;
}

.form-add-task__label {
    color: var(--azul-profundo);
    display: block;
    font-family: Unbounded;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 3.2rem;
}

.form-add-task__textarea {
    background: #98a0a8;
    border-radius: 0.8rem;
    padding: 0.8rem;
    width: 100%;
}

.form-add-task__footer {
    align-items: center;
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
    margin-top: 3.2rem;
}

.form-add-task__footer .splitter {
    flex-grow: 1;
}

.form-add-task__footer-button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--azul-profundo);
    cursor: pointer;
    display: flex;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    gap: 0.8rem;
    line-height: 150%;
    outline: inherit;
}

.form-add-task__footer-button--confirm {
    background: var(--azul-profundo);
    border-radius: 3.2rem;
    color: #fff;
    padding: 0.8rem 2.4rem;
}

.tasks__button--add-task {
    align-items: center;
    background-color: transparent;
    border: 0.2rem solid var(--lils);
    border-radius: 3.2rem;
    color: var(--lils);
    cursor: pointer;
    display: flex;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    gap: 1rem;
    justify-content: center;
    line-height: 150%;
    margin-top: 4rem;
    outline: inherit;
    padding: 1.8rem;
    width: 100%;
}

.app_button-edit:disabled {
    color: #e6e6e6;
    cursor: not-allowed;
    opacity: 0.8;
}

@media (max-width: 767px) {
    .tasks__active-task {
        gap: 2rem;
    }
}
