.header__logo-figure {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.header__section-banner-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
    margin: 0 auto;
    width: 99rem;
}

.header__title {
    color: var(--color-secondary);
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    max-width: 46rem;
}

.header__title-strong {
    font-weight: 600;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .header__section-banner-container {
        width: 48rem;
    }
}

@media (max-width: 767px) {
    .header__section-banner-container {
        width: 32rem;
    }

    .header__title {
        font-size: 2.6rem;
    }
}
