.cronometer__primary-button-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cronometer__primary-button {
    align-items: center;
    background: var(--linear-botes);
    border: none;
    border-radius: 3.2rem;
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;
    font-size: 1.8rem;
    gap: 1rem;
    justify-content: center;
    margin-top: 3.2rem;
    outline: inherit;
    padding: 0.8rem;
    width: 12rem;
}
